<%= form_for :fs_user, url: login_path, method: :post do |u| %>
  <p><%= u.label :email %><br/>
    <%= u.email_field :email %>
  </p>
  <p><%= u.label :pw %><br/>
    <%= u.password_field :pw %>
  </p>
  <p>
    <%= u.submit %>
  </p>
<% end %>