<%= form_for :fs_user, url: register_path, method: :post do |u| %>
  <% if @fs_user.errors.any? %>
  <div class="msg_error">
    <p><%= pluralize(@fs_user.errors.count, "error") %> prohibited
      your registration:</p>
    <ul>
    <% @fs_user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% elsif @fs_user.new_record? == false%>
  <div class="msg_ok">
  	<p>Registration successful! Welcome, <%= @fs_user.fname%> <%= @fs_user.lname%></p>
  </div>
  <% end %>
  <p><%= u.label :email %><br/>
    <%= u.email_field :email %>
  </p>
  <p><%= u.label :fname %><br/>
    <%= u.text_field :fname %>
  </p>
  <p><%= u.label :lname %><br/>
    <%= u.text_field :lname %>
  </p>
  <p><%= u.label :pw %><br/>
    <%= u.password_field :pw %>
  </p>
  <p><%= u.label :pw %><br/>
    <%= u.password_field :pw_confirmation %>
  </p>
  <p>
    <%= u.submit %>
  </p>
<% end %>