body {
	background-color:#ffffff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:0.8em;
}

h1 {
	background-color: #666666;
	border: 2px solid #333333;
	border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
    color: #ffffff;
	font-size:1.5em;
	padding: 10px;
}
h2 {
	font-size:1.2em;
	color:#666666;
}

div.formgroup {
	border: 1px solid #cccccc;
	border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.formgroup h2 {
	border-bottom: 1px solid #cccccc;
}
form {
	padding:10px;
}

nav {
	border-top: 2px solid #333333;
	border-bottom: 2px solid #333333;
	background-color: #666666;
	color: #ffffff;
	border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
	padding: 10px;
	list-style-type:none;
	margin:0;
}
nav a:link,nav a:visited {
	color:#ffffff;
	text-align:center;
	padding:6px;
	text-decoration:none;
}
nav a:hover, 
nav a:active {
	background-color:#999999;
}
nav span#currentDir {
	font-weight: bold;
	color:#999999;
}


table#directory {
	background-color:#cccccc;
	border: 1px solid #999999;
	border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
	padding:10px;
	width:100%
}
table#directory tbody {
	background-color:#ffffff;
}
table#directory tbody tr.even {
	background-color:#cccccc;
}

div.msg_info,
div.msg_ok,
div.msg_error {
	border-style: solid;
	border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
	border-width: 2px;
	padding: 10px;
}
div.msg_info {
	border-color:#3333ff;
	background-color:#aaaaff;
}
div.msg_ok {
	border-color:#33ff33;
	background-color:#aaffaa;
}
div.msg_error {
	border-color:#ff3333;
	background-color:#ffaaaa;
}