<%= stylesheet_link_tag "style" %>
<h1>Fileserver</h1>
<div class="formgroup">
	<h2>Register</h2>
	<%= render("fs_users/register_form")%>
</div>
<div class="formgroup">
	<h2>Login</h2>
	<%= render("fs_users/login_form")%>
</div>