<table id="directory">
	<thead>
		<tr><th>Name</th><th>Owner</th><th>Size</th><th>Open</th><th>Delete</th></tr>
	</thead>
	<tbody>
		<%
		#currentDir = File.join(Rails.root,"public",session[:current_dir].split('|'))
		# we need a relative path to lookup in the database and an absolute one to actually read the files
    		relCurrentDir = File.join(session[:current_dir].split("|"))
    		absCurrentDir = File.join(Rails.root,"public",relCurrentDir)
		%>
		<% Dir.foreach(absCurrentDir) do |filename| 
			if filename == "." or filename == ".." then next end #leave out "." and ".."
			relFilePath = File.join(relCurrentDir,filename)
			absFilePath = File.join(Rails.root,"public",relFilePath)
			FsPath.where("path_name = ? AND (user_id = ? OR public='t')",relFilePath,session[:id]).each do |fs_path| 
				fs_user = FsUser.find(fs_path.user_id)
				isDirectory = File.directory?(absFilePath)
				isMine = session[:id] == fs_path.user_id
			%>
				<tr>
					<td><%= relFilePath %></td>
					<td><%= fs_user.fname%> <%= fs_user.lname%></td>
					<% if isDirectory then%>
						<td>-</td>
						<% newDir = session[:current_dir]+"|"+filename%>
						<td><%= link_to newDir,directory_path(newDir)%></td>
						<td>
						<% if isMine then %>
							<%= link_to("delete TODO confirmation", deleteDir_path(filename), method: :post, confirm: "Are you sure?")%> 
						<% else %> - <%end%>
						</td>
					<% else %>
						<%
						fileparts = filename.split(".")
						file = File.open(absFilePath)
						size = (file.size/1024)
						%>
						<td><%= size.to_s+" KB" %></td>
						<td><%= link_to 'open file', relFilePath.html_safe, { target: '_blank' } %></td>
						<td>
						<% if isMine then %>
							<%= link_to("delete TODO confirmation", deleteFile_path(fileparts[0],fileparts[1]), method: :post, confirm: "Are you sure?")%> 
						<% else %> - <%end%>
						</td>
					<% end %>
					
				</tr>
			<% end %>
		<% end %>
			 
			
	<!-- <?php 				
		clearstatcache(); // cache leeren
		$files = scandir("." . $dir);
		$i = 0;
		$html = "";
		$zebra= "odd";
		foreach ($files as $f) {
			$i++;
			if ($i > 2) { // leave out "." and ".."
				// select registered path
				$path = "$dir/$f";
				$query = "SELECT 
							p.owner_user_id as owner_user_id,
							concat(u.user_fname,' ',u.user_lname) as owner_name
						  FROM
						    users u,
						    paths p
						  WHERE
						    p.path_name = '$path' AND
						  	u.user_id = p.owner_user_id AND								    
						    (p.owner_user_id = $user_id OR p.path_restriction = 'o')";
				if (! $result = mysql_query($query)) {
					die("error: " . mysql_error());
				}
				if ($row = mysql_fetch_array($result)) {
					// user is allowed to see this directory or path						
					$relativePath = ".$path";
					$ownerUserId = $row["owner_user_id"];
					$ownerName = $row["owner_name"];
					echo "<tr class='$zebra'>";
					if ($zebra == "odd") {
						$zebra = "even";
					} else {
						$zebra = "odd";
					}
					echo "<td>$f</td>";
					echo "<td>$ownerName</td>";
					
					if (is_dir($relativePath)) {
						echo "<td>-</td>";
						echo "<td> <a href='directory.php?dir=$path'>Open</td>";
						echo "<td>";
						if ($user_id == $ownerUserId) {
							// delete only allowed on users directories
							echo "TODO";
						}
						echo "</td>";
					}
					else {
						$size = round(filesize($relativePath) / 1024,2);
						echo "<td>$size KB</td>";
						echo "<td> <a href='$relativePath'>Download</td>";
						echo "<td>";
						if ($user_id == $ownerUserId) {
							// delete only allowed on users files
							echo "<a onclick='return confirmDelete()' href='delete.php?dir=$dir&file=$f'>Delete</a>";
						}
						echo "</td>";
					}			
					echo "</tr>";
				} 
			}
		}
	?> -->
	</tbody>
</table>