<%= form_tag(action: :mkdir) do %>
  <%= label_tag "Name:"%> <%= text_field_tag "dirName" %><br/>
  <%= radio_button_tag(:rights, "o") %> <%= label_tag "visible for everyone" %><br/>
  <%= radio_button_tag(:rights, "r") %> <%= label_tag "visible just for me" %><br/>
  <%= submit_tag "Create dir" %>
<% end %>