<!-- <form action="upload.php" method="post" enctype="multipart/form-data">
		<label for="file">Filename:</label>
		<input name="file" type="file" id="file"/></br>
		<input type="radio" name="rights" value="o" checked="checked"/> visible for everyone </br>
		<input type="radio" name="rights" value="r"/> visible just for me </br>
		<!--<?php echo "<input name='dir' type='hidden' id='dir' value='$dir'/>"; ?> 
		<br/>
		<input type="submit" name="submit" value="Hochladen"/>
	</form> -->
<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'file' %><br/>
  <%= radio_button_tag(:rights, "o") %> <%= label_tag "visible for everyone" %><br/>
  <%= radio_button_tag(:rights, "r") %> <%= label_tag "visible just for me"  %><br/>
  <%= submit_tag "Upload file" %>
<% end %>
