<%= stylesheet_link_tag "style" %><h1>Fileserver</h1>
<nav>
	<%= link_to "Logout", logout_path %> | 
	<%
	concatDir = ""
	session[:current_dir].split("|").each do |parentDir| 
		next unless parentDir.length > 0
		concatDir += "|"+parentDir
		# don't put >> before root directory uploads
		if parentDir != "uploads" then %> &gt;&gt; <% end%>
		<%if concatDir.length < session[:current_dir].length then %>
			<%= link_to parentDir, directory_path(concatDir) %>
		<% else %>
			<span id="currentDir"><%= parentDir %></span>
		<% end %>
	<% end %>
	
	<!-- <?php 
	$prefDir = $dir;
	$i = -1;
	$prefDirs = array();
	while ($prefDir != "/uploads") {
		// cut off the part beginning with the last "/" of the directory
		$prefDir = substr($prefDir,0,strrpos($prefDir,"/",0));
		$i = $i + 1;
		$prefDirs[$i] = $prefDir;
	}
	for ($j = $i; $j >= 0; $j--) {
		if ($j != $i) {
			// no ">>" before root directory
			echo " &gt;&gt; ";
		}
		// write previous dir links in differenz order
		echo "<a href='directory.php?dir=$prefDirs[$j]'>$prefDirs[$j]</a>";
	}
	?> -->
</nav>
<!-- ><?php 
$writePermission = false;
if ($dir == "/uploads") {
	$writePermission = true;
} else {
	$query = "SELECT
				*
			  FROM
			    paths
			  WHERE
			    path_name = '$dir' AND
			    owner_user_id = $user_id";
	if (! $result = mysql_query($query)) {
		die("error: " . mysql_error());
	}
	if ($row = mysql_fetch_array($result)) {
		// this is the users directory						
		$writePermission = true;
	}
}

if ($writePermission) {
?>
-->
<div class="formgroup">
	<h2>Upload new file</h2>
	<%= render "fs_paths/upload" %>
</div>
<div class="formgroup">
	<h2>Create new directory</h2>
	<%= render "fs_paths/mkdir" %>
</div>
<?php 
	// end if: wirte permission
}
?>
<div class="formgroup">
	<!--<?php echo "<h2>Uploaded files: $dir</h2>";?>	-->
	<h2>Uploades files: <%= session[:current_dir] %></h2>
	<%= render "fs_paths/directory_table"%>
</div>
<div class="msg_info">
	<p>You are currently logged in as <%= @fs_user.fname%> <%= @fs_user.lname%></p>
</div>